body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(https://previews.123rf.com/images/yurephoto/yurephoto1301/yurephoto130100022/17536751-fondo-seamless-tileable-para-fondos-de-pantalla-alta-resoluci%C3%B3n-colores-claros.jpg);
    background-size: cover;
}
.row{
    margin: 0;   
    padding: 0;
    width: max-content;
    text-align: center;
}
h1{
    text-align: center;
    font-family: cursive;
}
.tabla{
    margin: 1rem auto;
    border-radius: 1rem;
    text-align: center;
}
.circulo{
    width: 10rem;
}
.cuadro{
    width: 10rem;
}
.triangulo{
    width: 15rem;
}